<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ball Game</title>
    <link rel="stylesheet" href="./css/pingpong.css">
  </head>
  <body style="background-color: rgb(209, 241, 241);">
    <section style="display: flex; justify-content: center">
      <div>
        <h1>Ball Game</h1>
        <canvas
          id="canvas"
          height="400"
          width="400"
          style="border: 2px solid blue"
          ></canvas>
      </div>
    </section>
    <script src="./js/pingpong.js"></script>
  </body>
</html>